.main-box {
  width: min-content;
  margin: auto;
  text-align: center;
  margin-top: 8em;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 5px 30px hsl(224, 23%, 55%);
}
body {
  align-content: center;
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(225, 100%, 94%);
}
p {
  font-size: 16px;
}
.plan-selection-box {
  background-color: hsl(225, 100%, 98%);
  display: inline-block;
  margin: auto;
}
.mid-text {
  width: 70%;
  margin: auto;
  color: hsl(224, 23%, 55%);
}

.top-image {
  border-radius: 20px 20px 0 0;
}
.plan-selection-box {
  width: 80%;
  margin-bottom: 15px;
  padding-top: 20px;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  display: grid;
  grid-template-columns: 20% 50% auto;
  align-items: center;
}

.actual-plan {
  line-height: 0.5rem;
  color: hsl(224, 23%, 55%);
  align-self: left;
  justify-self: left;
}

.table-plans {
  margin: 0 auto;
}
.background-image {
  position: absolute;
  top: 0;
  height: 400px;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
}

.payment-button {
  background-color: hsl(245, 75%, 52%);
  color: white;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  margin: 10px auto;
  width: 80%;
  font-size: 16px;
  height: 3em;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 6px 10px hsl(224, 23%, 60%);
}

.cancel-button {
  color: hsl(224, 23%, 60%);
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  margin: 10px auto 20px auto;
  width: 80%;
  font-size: 16px;
  height: 3em;
  background: none;
  border: none;
}

.payment-button:hover {
  background-color: #776cf0;
}
.cancel-button:hover {
  color: black;
}
a {
  color: hsl(245, 75%, 52%);
}
a:hover {
  color: #776cf0;
}
